<div class="bg-light p-5 rounded-lg m-3">
<h1 class="display-4">Bem Vindo Ao Schedule App!</h1>
<p class="lead">Agenda desenvolvida em Node.js e MongoDB.</p>
<hr class="my-4">
<p>Aqui você vai poder armazenar contatos e criar tarefas.</p>
<a class="btn btn-primary btn-lg" href="/auth/criar/conta" role="button">Crie uma conta</a>
<hr>
</div>
